/* From https://github.com/hankchizljaw/modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove margin and padding on ul, ol */
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary-light-red: hsl(356deg, 100%, 66%);
  --clr-primary-very-light-red: hsl(355deg, 100%, 74%);
  --clr-primary-very-dark-blue: hsl(208deg, 49%, 24%);
  --clr-neutral-white: hsl(0deg, 0%, 100%);
  --clr-neutral-grayish-blue: hsl(240deg, 2%, 79%);
  --clr-neutral-light-grayish-blue: hsl(240deg, 0.8%, 94.5%);
  --clr-neutral-very-dark-grayish-blue: hsl(207deg, 13%, 34%);
  --clr-neutral-very-dark-black-blue: hsl(240deg, 10%, 16%);
  --clr-gradient-very-light-red: hsl(13deg, 100%, 72%);
  --clr-gradient-light-red: hsl(353deg, 100%, 62%);
  --clr-gradient-very-dark-gray-blue: hsl(237deg, 17%, 21%);
  --clr-gradient-very-dark-desaturated-blue: hsl(237deg, 23%, 32%);
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@font-face {
  font-family: Overpass;
  src: url("../assets/fonts/Overpass/Overpass-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Overpass;
  src: url("../assets/fonts/Overpass/Overpass-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Ubuntu;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Ubuntu;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Ubuntu;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
}
body {
  font-family: League Spartan;
  font-weight: var(--font-weight-normal);
  font-size: 0.9375rem;
}

html.desktop {
  width: 1440px;
  height: 3394px;
}
html.desktop .design {
  width: 1440px;
  height: 3394px;
  max-width: unset;
  content: url("../assets/design/desktop-design.jpg");
}
html.desktop body {
  width: 1440px;
  height: 3394px;
  min-height: initial;
}

html.active-states {
  width: 1440px;
  height: 3394px;
}
html.active-states .design {
  width: 1440px;
  height: 3394px;
  max-width: unset;
  content: url("../assets/design/active-states.jpg");
}
html.active-states body {
  width: 1440px;
  height: 3394px;
  min-height: initial;
}

html.mobile {
  width: 375px;
  height: 4689px;
}
html.mobile .design {
  width: 375px;
  height: 4689px;
  max-width: unset;
  content: url("../assets/design/mobile-design.jpg");
}
html.mobile body {
  width: 375px;
  height: 4689px;
  min-height: initial;
}

html.mobile-menu {
  width: 375px;
  height: 667px;
}
html.mobile-menu .design {
  width: 375px;
  height: 667px;
  max-width: unset;
  content: url("../assets/design/mobile-menu.jpg");
}
html.mobile-menu body {
  width: 375px;
  height: 667px;
  min-height: initial;
}

.design {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 255;
}

.header {
  padding: 3.5rem 1.5rem;
  height: 600px;
  border-bottom-left-radius: 100px;
  background: url("/assets/images/bg-pattern-intro-mobile.svg") left 35.4% bottom 66.2%/auto no-repeat, linear-gradient(135deg, var(--clr-gradient-very-light-red), var(--clr-gradient-light-red));
}

@media (min-width: 480px) {
  .header {
    padding-inline: 160px;
    background: url("/assets/images/bg-pattern-intro-desktop.svg") left 25.3% bottom 47.85%/auto no-repeat, linear-gradient(135deg, var(--clr-gradient-very-light-red), var(--clr-gradient-light-red));
  }
}
.nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font: var(--font-weight-semibold) 1.125rem/1 Overpass, sans-serif;
}
.nav__logo {
  height: 2rem;
}
.nav__drawer {
  display: none;
  position: absolute;
  top: calc(100% + 2.3rem);
  padding-inline: 1.5rem;
  padding-block: 2.2rem;
  border-radius: 6px;
  width: 100%;
  background: var(--clr-neutral-white);
}
.nav__menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.1rem;
  list-style: none;
}
.nav__separator {
  margin-block: 1.25rem;
  border: 1px solid var(--clr-neutral-light-grayish-blue);
}
.nav__drawer-icon {
  order: 2;
  appearance: none;
  width: 32px;
  height: 18px;
  margin: 0;
  background: url("/assets/images/icon-hamburger.svg");
  cursor: pointer;
}
.nav__drawer-icon:checked {
  background: url("/assets/images/icon-close.svg") center center/auto no-repeat;
  width: 26px;
  height: 26px;
  margin-inline-end: 0.2rem;
}
.nav__drawer-icon:checked + .nav__drawer {
  display: block;
  width: calc(100% - 0.2rem);
  margin-inline-end: 0.2rem;
}

@media (min-width: 480px) {
  .nav__logo {
    margin-inline-start: 0.5rem;
    height: 2.5rem;
  }
  .nav__drawer {
    display: block;
    position: static;
    padding-inline: 4rem;
    padding-block: 0;
    background: transparent;
  }
  .nav__menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: var(--clr-neutral-white);
  }
  .nav__separator {
    display: none;
  }
  .nav__drawer-icon {
    display: none;
  }
}
.nav-menu-item {
  width: 100%;
}
.nav-menu-item__title-wrapper {
  text-align: center;
}
.nav-menu-item__title {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}
.nav-menu-item__title::after {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 7px;
  background: url("/assets/images/icon-arrow-dark.svg") center center/auto no-repeat;
  transition: transform 125ms linear;
}
.nav-menu-item__subitems {
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border-radius: 6px;
  max-height: 0px;
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  text-align: center;
  color: var(--clr-neutral-very-dark-grayish-blue);
  background: var(--clr-neutral-light-grayish-blue);
  transition: max-height 450ms ease, padding 450ms ease, margin-block 450ms ease;
}
.nav-menu-item__subitem {
  cursor: pointer;
  line-height: 2.5rem;
  border-radius: 6px;
}
.nav-menu-item__subitem:hover {
  font-weight: var(--font-weight-semibold);
}
.nav-menu-item__checkbox {
  display: none;
}
:where(.nav-menu-item__checkbox:checked + .nav-menu-item__title-wrapper) > .nav-menu-item__title::after {
  transform: rotate(180deg);
}
:where(.nav-menu-item__checkbox:checked) ~ .nav-menu-item__subitems {
  padding: 1rem;
  margin-block-start: 1.4rem;
  max-height: 15rem;
}

@media (min-width: 480px) {
  .nav-menu-item {
    width: auto;
  }
  :where(.nav-menu-item__checkbox:checked + .nav-menu-item__title-wrapper) > .nav-menu-item__title::after {
    transform: none;
  }
  :where(.nav-menu-item__checkbox:checked) ~ .nav-menu-item__subitems {
    display: none;
  }
  .nav-menu-item__title {
    padding-block: 1.4rem;
    font-size: 1rem;
    color: var(--clr-neutral-light-grayish-blue);
  }
  .nav-menu-item__title:hover {
    color: var(--clr-neutral-white);
  }
  .nav-menu-item__title::after {
    background-image: url("/assets/images/icon-arrow-light.svg");
  }
  .nav-menu-item__subitems {
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    padding-inline: 1rem;
    padding-block: 1.7rem;
    margin-block-start: 0;
    margin-inline-start: -1.5rem;
    min-width: 16.5ch;
    max-height: initial;
    text-align: start;
    font-weight: var(--font-weight-light);
    color: var(--clr-neutral-very-dark-black-blue);
    background: var(--clr-neutral-white);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transition: opacity 125ms linear;
  }
  .nav-menu-item__subitem {
    padding-inline: 0.5rem;
    line-height: 2rem;
  }
  .nav-menu-item:hover .nav-menu-item__title {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
  }
  .nav-menu-item:hover .nav-menu-item__title::after {
    transform: rotate(180deg);
  }
  .nav-menu-item:hover .nav-menu-item__subitems {
    visibility: visible;
    opacity: 1;
  }
}
.attribution {
  margin-block: 0;
  font-size: 1.2rem;
  text-align: center;
}
.attribution a {
  color: var(--clr-primary-light-red);
}

a[target=_blank]::after {
  margin: 0 3px 0 5px;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
}
